{{emoji-picker/anchors}}
{{emoji-picker/search}}
<div class="emoji-mart-scroll">
  {{emoji-picker/category}}
  {{emoji-picker/category}}
  {{emoji-picker/category}}
  {{emoji-picker/category}}
</div>
