<div class="eep-bar">
  {{emoji-picker/anchors
    categories=categories
    categoryLabels=categoryLabels
    selectedCategory=selectedCategory
    onSelect=(action "selectCategory")
  }}
</div>
{{emoji-picker/search}}
<div class="eep-categories">
  {{emoji-picker/category}}
  {{emoji-picker/category}}
  {{emoji-picker/category}}
  {{emoji-picker/category}}
</div>
