<div class="eep-bar">
  {{emoji-picker/anchors
    categories=categories
    categoryLabels=categoryLabels
    selectedCategory=selectedCategory
    onSelect=(action "doSelectCategory")
  }}
</div>
{{emoji-picker/search
  onSearch=(action "doFilterEmoji")
}}
<div class="eep-categories">
  {{#unless isSearching}}
    {{#each categories as |category| }}
      {{emoji-picker/category
        category=category
        categoryLabels=categoryLabels
      }}
    {{/each}}
  {{else}}
    {{#if hasSearchResults}}
      {{emoji-picker/category
        category=(hash
          name='search'
          emojis=filteredEmojis
        )
        categoryLabels=categoryLabels
      }}
    {{else}}
      <div className='eep-no-results'>
        <span class="eep-no-results-label">Not found</span>
      </div>
    {{/if}}
  {{/unless}}
</div>
